{% extends 'layout.html' %}

{% block title %}Égua{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <img src="{{ url_for('static', filename='eguas4.png') }}" alt="Foto de uma égua" class="img-fluid">
    </div>
    <div class="col-md-4">
        <h1>Égua</h1>
        <p class="text-justify">A égua é o nome dado à fêmea do cavalo. Ela pode chegar a pesar até 600 kg e medir cerca
            de 1,50 metros de altura.</p>
        <p class="text-justify">A espinha da égua é um exemplo fascinante de resistência estrutural.</p>
        <p class="text-justify">É por isso que a Engenharia pode ter um papel fundamental na compreensão e no
            aprimoramento do desempenho das éguas em atividades como corrida ou salto.</p>
        <p class="text-justify"> Mas não se engane, a égua não é só força e resistência, elas são animais graciosos e
            inteligentes.</p>
    </div>
</div>
{% endblock %}
