{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <img src="{{ url_for('static', filename='elefante.jpg') }}" alt="Foto de um elefante" class="img-fluid">
    </div>
    <div class="col-md-4">
        <h1>Elefante</h1>
        <p class="text-justify">O elefante é o maior animal terrestre. Ele pode chegar a pesar até 12 toneladas e medir mais de 3 metros
            de altura. São animais majestosos, conhecidos por suas presas gigantes e incrível inteligência.</p>
        <p class="text-justify">Mas sabia que o formato das presas dos elefantes é influenciado pela Engenharia natural?</p>
        <p class="text-justify">As presas dos elefantes são estruturas incrivelmente fortes, capazes de suportar as forças geradas pelos
            movimentos dos animais e as atividades diárias, como a busca por alimento e a defesa contra predadores.
            Essa resistência das presas é resultado da adaptação dos elefantes às condições naturais do ambiente em que
            vivem, demonstrando como a natureza é capaz de oferecer soluções eficientes para problemas de
            engenharia.</p>
    </div>
</div>
{% endblock %}
