<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav class="topnav">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('engenharia') }}">Engenharia</a></li>
                <li><a href="{{ url_for('egua') }}">Égua</a></li>
                <li><a href="{{ url_for('elefante') }}">Elefante</a></li>
            </ul>
        </nav>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <script>
            // Obtém a URL da página atual
            var currentUrl = window.location.href;

            // Obtém todos os links na navbar
            var links = document.getElementsByClassName("topnav")[0].getElementsByTagName("a");

            // Itera sobre todos os links
            for (var i = 0; i < links.length; i++) {
                var linkUrl = links[i].href;

                // Verifica se o link corresponde à página atual
                if (currentUrl == linkUrl) {
                    // Adiciona a classe "active" ao link
                    links[i].classList.add("active");
                }
            }
        </script>
    </body>
    <footer>
        <p>Site desenvolvido por cvmota</p>
    </footer>
</html>
