{% extends "layout.html" %}
{% block body %}

<div class="my-2">
    <h1>{{title}}</h1>
    <div class="col-md-6 mb-4" style="border:1px">
        <form class="form" action="/term" method="POST">
            <div class="mb-3">
                <label for="designation" class="form-label">Designation</label>
                <input type="text" class="form-control" id="designation" name="designation"/>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="mt-1 mb-2">
            {% if info_message %}
            {{info_message}}
            {% endif %}
        </div>
    </div>

    <div class="">
        <ul class="list-group">
            {% for designation in designations %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/terms/{{designation}}" class="list-group-item-action">{{designation}}</a>
                <button class="btn btn-sm" onclick="deleteTerm('{{designation}}')"><i class="bi-trash"></i></button>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}